@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
/* _______________________________________________________________________________ */
/* header */
/* _______________________________________________________________________________ */

header {
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10vh;
}

h1.accty {
  padding-top: 20px;
  font-weight: 400;
}
/* ____________________menu burger______________________________________________ */
/* ______________________________________________________________________________ */

.navbar-mobile {
  /*  pour définir l'ordre des calques et donc pour que mon menu passe devant les photos  */
  z-index: 998;
  display: none;
}

.navbar-mobile i {
  z-index: 1001;
  font-size: 50px;
  position: fixed;
  top: 2%;
  right: 5%;
}

.menu {
  z-index: 1000;
  display: flex;
  position: fixed;
  top: -100%;
  left: 0vw;
  width: 100%;
  height: 100%;
  transition: top 0.5s;
}

.vide {
  width: 50%;
  height: 100%;
  background: black;
  opacity: 0.2;
}

.nav-list-mobile {
  /* position: fixed; */
  /* top: -100vh;
  left: 50vw; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  /* transition: top 0.5s ; */
  font-size: xx-large;
}

.nav-list-mobile li {
  font-weight: 800;
}

.list-visible {
  top: 0;
}

.contact-mobile {
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  /* le align center pour que mes icones soient alignés */
  align-items: center;
  /* padding-top: 25px; */
}

/* je donne une largeur à mon container d'image pour rappetisser mes icones */
.image-container-mobile {
  width: 15%;
}

/* j'adapte la taille de mes images au container d'images  */
.image-container-mobile img {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .navigation {
    display: none;
  }
  .contact-desktop .image-container {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }
}

/* ____________________________________________________________________________________________ */

/* _________________________________nav barre__________________________________ */


/* je donne une largeur à mon container ul pour que je puisse faire un sapce arround autour de mes liens */
ul {
  width: 50vw;
}

nav ul {
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

/* __________________________________sous menu____________________________________________ */



nav ul li{
  float: left;
  width: 25%;
  text-align: center;
}

nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover{
  color: #040404;
  border-bottom: 2px solid #5F9965;
}

.ul-sous-menu{
  display: none;
  box-shadow: 0px 1px 2px rgb(74, 82, 74);
  background-color: #ffffff;
}

nav > ul li:hover .ul-sous-menu{
  display: block;
}


.ul-sous-menu li{
  float: none;
  width: 100%;
  text-align: left;
}

.ul-sous-menu a{
  padding: 10px;
  border-bottom: none;
}

.ul-sous-menu a:hover{
  border-bottom: none;
  background-color: rgba(200, 200, 200, 0.3);
}

.sous-menu > a::after{
  content:"▼";
  font-size: 12px;
}

.ul-sous-menu{
  display: none;
  box-shadow: 0px 1px 2px rgb(122, 151, 123);
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  z-index: 1200;
}

nav ul li{
  float:left;
  width: 25%;
  text-align: center;
  position: relative;
}


/* ________________________________fin sous menu______________________________ */


li a {
  color: black;
  display: flex;
  justify-content: center;
}

li .contact-desktop {
  color: black;
}

/* je donne une largeur à mon container d'image pour rappetisser mes icones */
.image-container {
  width: 20px;
}

/* j'adapte la taille de mes images au container d'images  */
.image-container img {
  width: 100%;
}

.contact-desktop {
  width: 10vw;
  display: flex;
  justify-content: space-around;
  /* le align center pour que mes icones soient alignés */
  align-items: center;
  padding-top: 25px;
}


/* ____________________________sous menu________________________________________________ */
/* _____________________________________________________________________________________ */


#ul-sous-menu{
  display: flex;
  flex-direction: column;
}


/* Footer */
/* ____________________________________________________________________________________ */

footer {
  position: absolute;
  bottom: 0;
  /* height: 100px; */
  display: flex;
  /* align-items: flex-start; */
  padding-left: 5vw;
  background-color: #ffffff;
}

.footer{
  position: relative;
}

.text-footer {
  font-weight: 100;
  font-size: small;
}

h2.text-footer {
  display: flex;
  justify-content: flex-start;
}
/* ____________________________________________________________________________________ */
/* MAIN INDEX.html */
/* ____________________________________________________________________________________ */

h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

h2.titre {
  width: 100%;
}

.item_image {
  width: 100%;
  height: 100%;
}

p {
  color: #ffffff;
  font-family: "Roboto Condensed', sans-serif";
  font-size: large;
  text-shadow: 1px 1px 2px black;
}

.item__title {
  padding: 15px;
  border: 1px;
  border-color: #ffffff;
}

a {
  color: #ffffff;
}
a .article {
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
}

/* _________________________________________________________ */

body {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: normal;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
}

#wrapper {
  width: 100%;
  /* max-width: 964px; */
  height: 90%;
  position: relative;
}

#carousel {
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#item1 {
  background-image: url(/assets/Idiosyncrase.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1vw;
  width: 33vw;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#item2 {
  background-image: url(/assets/HeroHimselfDesktop.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1vw;
  width: 33vw;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#item3 {
  background-image: url(/assets/SituationDesktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1vw;
  width: 33vw;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#item4 {
  background-image: url(/assets/BackstageDesktop.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1vw;
  width: 33vw;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  border: #ffffff 1px solid;
}

#content {
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 600px) {
  #content {
    display: block;
    width: 100%;
    height: 70vh;
    padding-left: 4vw;
  }
  #item1, #item2, #item3, #item4{
    width: 100%;  
  }

  .item__title{
    width: 75vw;
  }

  p{
    width: 100%;
    font-size: xxx-large;
    text-align: center;
  }

  .title{
    width: 42vw;
    text-align: center;
  }

  .article{
    width: 100%;
    font-size: xx-large;
  }
  
  }
  #next, #prev{
    display: none;
  }
